@page
@model GameStore.Pages.Customer.Cart.OrderConfirmationModel
@{
    ViewData["Title"] = "OrderConfirmation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary" text-center>Order Placed Successfully!</h1>
        Your Order Number is : @Model.orderId <br /><br />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your Order has been placed successfully! <br />
    </div>
</div>

